
button {
  font-size: 1em;
}
      
h2 {
  margin-top: 3em;
}

.tabList {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.tabList a {
  display: inline;
  float: left;
  border: 1px solid #000;
  padding: .25em 2em;
  margin: 0 0 -8px .25em;
  border-radius: .5em .5em 0 0;
  background-color: #aaa;
}

.tabList a:link, .tabList a:visited, .tabList a:hover, .tabList a:focus, .tabList a:active {
  text-decoration: none;
  color: #000;
}

.tabList a:hover, .tabList a:focus {
  background-color: #ccc;
}

.tabList a.selected {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

.tabPanels div {
  clear: left;
  margin: 0 auto;
  padding: 1em 2em;
  border-radius: .25em;
  background-color: #fff;
  display: none;
}

.tabPanels div.selected, div[aria-hidden=false] {
  display: inline;
}

.hide, div[aria-hidden=true] {
  display: none;
}


body {
  padding: 0 1rem;
  font-size: 125%;
  line-height: 1.5;
  margin: 1.5rem auto;
  font-family: Arial, sans-serif;
}

* {
  margin: 0;
}

[role="tablist"] {
  padding: 0;
}

[role="tablist"] li, [role="tablist"] a {
  display: inline-block;
}

[role="tablist"] a {
  text-decoration: none;
  padding: 0.5rem 1em;
}

[role="tablist"] [aria-selected] {
  border: 2px solid #000;
  background: #fff;
  position: relative;
  top: 2px;
}

[role="tabpanel"] {
  border: 2px solid;
  padding: 1.5rem;
}

[role="tabpanel"] * + * {
  margin-top: 0.75rem;
}

*:focus {
  outline: none;
  box-shadow: inset 0 0 0 4px lightBlue;
}

@media (max-width: 550px) {
  
  [role="tablist"] li, [role="tablist"] a {
    display: inline;
    position: static;
  }
  
  [role="tablist"] a {
    border: 2px solid #222 !important;
  }
  
  [role="tablist"] li + li a {
    border-top: 0 !important;
  }
  
  [role="tablist"] [aria-selected] {
    position: static;
  }
  
  [role="tablist"] [aria-selected]::after {
    content: '\0020⬅';
  }
  
  [role="tabpanel"] {
    border-top: 0;
  }
  
}

    